:root {
    font-family: Roboto, sans-serif;
    font-size: medium;
    box-sizing: border-box;

    --colour-1: #1f2937;
    --colour-2: #3882f6;
    --colour-3: #4b5563;
    --colour-4: #6d747d;
    --colour-5: #e5e7eb;
    --colour-6: #edeeef;
    --colour-7: #f9faf8;
    --font-hero-logo: 1.5rem;
    --font-hero-main: 3rem;
    --font-hero-secondary: 1.125rem;
    --font-information-header: 2.25rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a { text-decoration: none; }

p {
    margin: 0;
    padding: 0;
}

body { margin: 0; }

body > * { padding: 0 14.5%; }

.hero-background {
    background-color: var(--colour-1);
    padding-top: 1rem;
    padding-bottom: 9rem;
}

.header { margin-bottom: 7.5rem; }

.header,
.header-links {
    display: flex;
    align-items: baseline;
}

.logo {
    flex: auto;
    color: var(--colour-7);
    font-size: var(--font-hero-logo);
    font-weight: 900;
}

.header-links { gap: 1.5rem; }

.header-links > li > a {
    color: var(--colour-5);
    font-size: var(--font-hero-secondary);
}

.hero {
    display: flex;
    gap: 2rem;
}

.hero-header {
    color: var(--colour-7);
    font-size: var(--font-hero-main);
    font-weight: 900;
}

.hero-subtext {
    color: var(--colour-5);
    font-size: var(--font-hero-secondary);
    margin-bottom: 0.8rem;
}

.hero-body { flex: 19; }

.hero-body > button {
    color: var(--colour-7);
    background-color: var(--colour-2);
    font-size: var(--font-hero-secondary);
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 2rem 0.5rem;
}

.hero-image {
    flex: 21;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colour-6);
    background-color: var(--colour-4);
    font-size: var(--font-hero-secondary);
}

.images {
    padding-top: 3rem;
    padding-bottom: 6.5rem;
}

.images-header {
    text-align: center;
    font-size: var(--font-information-header);
    font-weight: 900;
    color: var(--colour-1);
    margin-bottom: 3rem;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.image-pair { flex: 0 0 10.5rem; }

.image-square {
    height: 10rem;
    border: 0.25rem solid var(--colour-2);
    border-radius: 1rem;
    margin-bottom: 0.3333rem;
}

.image-text {
    text-align: center;
    font-size: 1.15rem;
    color: var(--colour-3);
}
