:root {
    font-family: Roboto, sans-serif;
    font-size: medium;
    box-sizing: border-box;

    --foreground-header-logo: #f9faf8;
    --foreground-hero-main: #f9faf8;
    --foreground-hero-secondary: #e5e7eb;
    --background-hero: #1f2937;
    --background-button: #3882f6;
    --font-hero-logo: 1.5rem;
    --font-hero-main: 3rem;
    --font-hero-secondary: 1.125rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a { text-decoration: none; }

body { margin: 0; }

body > * { padding: 0 15%; }

.header,
.header-links {
    display: flex;
    align-items: baseline;
}

.logo {
    flex: auto;
    color: var(--foreground-header-logo);
    font-size: var(--font-hero-logo);
    font-weight: 700;
}

.header-links { gap: 1.5rem; }

.header-links > li > a {
    color: var(--foreground-hero-secondary);
    font-size: var(--font-hero-secondary);
}

.hero-background { background-color: var(--background-hero); }

.hero-header {
    color: var(--foreground-hero-main);
    font-size: var(--font-hero-main);
    font-weight: 900;
}

.hero-subtext {
    color: var(--foreground-hero-secondary);
    font-size: var(--font-hero-secondary);
}

.hero-body > button {
    color: var(--foreground-hero-main);
    background-color: var(--background-button);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.6rem 0.3333rem;
}
