:root {
    font-family: Roboto, sans-serif;
    font-size: medium;
    box-sizing: border-box;

    --foreground-header-logo: #f9faf8;
    --foreground-hero-main: #f9faf8;
    --foreground-hero-secondary: #f9faf8;
    --background-hero: #1f2937;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a { text-decoration: none; }

body > * { padding: 0 15%; }

.header,
.header-links { display: flex; }

.logo {
    flex: auto;
    color: var(--foreground-header-logo);
}

.header-links { gap: 1.5rem; }

.header-links > li > a { color: var(--foreground-hero-secondary); }

.header { background-color: var(--background-hero); }
