:root {
    font-family: Roboto, sans-serif;
    font-size: medium;
    box-sizing: border-box;

    --foreground-header-logo: #f9faf8;
    --foreground-hero-main: #f9faf8;
    --foreground-hero-secondary: #e5e7eb;
    --foreground-placeholder: #edeeef;
    --background-hero: #1f2937;
    --background-button: #3882f6;
    --background-placeholder: #6d747d;
    --font-hero-logo: 1.5rem;
    --font-hero-main: 3rem;
    --font-hero-secondary: 1.125rem;
    --font-information-header: 2.25rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a { text-decoration: none; }

p {
    margin: 0;
    padding: 0;
}

body { margin: 0; }

body > * { padding: 0 14.5%; }

.header {
    padding-top: 1rem;
    padding-bottom: 7.5rem;
}

.header,
.header-links {
    display: flex;
    align-items: baseline;
}

.logo {
    flex: auto;
    color: var(--foreground-header-logo);
    font-size: var(--font-hero-logo);
    font-weight: 900;
}

.header-links { gap: 1.5rem; }

.header-links > li > a {
    color: var(--foreground-hero-secondary);
    font-size: var(--font-hero-secondary);
}

.hero-background { background-color: var(--background-hero); }

.hero {
    display: flex;
    padding-bottom: 9rem;
}

.hero-image {
    flex: 21;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--foreground-placeholder);
    background-color: var(--background-placeholder);
    font-size: var(--font-hero-secondary);
}

.hero-header {
    color: var(--foreground-hero-main);
    font-size: var(--font-hero-main);
    font-weight: 900;
}

.hero-subtext {
    color: var(--foreground-hero-secondary);
    font-size: var(--font-hero-secondary);
    margin-bottom: 0.8rem;
}

.hero-body {
    flex: 19;
    padding-right: 3rem;
}

.hero-body > button {
    color: var(--foreground-hero-main);
    background-color: var(--background-button);
    font-size: var(--font-hero-secondary);
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 2rem 0.5rem;
}

.images-header {
    text-align: center;
    font-size: var(--font-information-header);
    font-weight: 900;
    color: var(--background-hero);
}
